.home {
  display: flex;
}

.home > .right {
  margin: auto;
}

.home > .right > p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.7;
  font-family: "Montserrat", sans-serif;
}

.home > .right > .theme {
  color: blue;
}
