.projects_top {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.projects_top > .left {
  margin: auto;
  width: 80%;
  padding: 0 20px;
  flex: 0.5;
}

.projects_top > .left > h1 {
  color: rgb(63, 61, 86);
  font-size: 4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.projects_top > .left > .info {
  color: grey;
  line-height: 1.3em;
  width: 90%;
  padding: 10px 0 0 5px;
  margin-bottom: 2em;
  font-family: "Montserrat", sans-serif;
}

.projects_bottom {
  height: 100vh;
  text-align: center;
}

.projects_bottom > p {
  color: rgb(63, 61, 86);
  font-size: 4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 25px;
}

.projects_bottom > .my_projects {
  display: flex;
  justify-content: space-around;
}

.projects_bottom > .more_projects {
  display: inline-block;
  margin-top: 40px !important;
  padding: 12px 20px;
  cursor: pointer;
  color: white;
  background-color: rgb(63, 61, 86);
  font-weight: 500;
  border-radius: 20px;
  text-transform: capitalize;
  text-decoration: none;
}

.projects_bottom > .more_projects:hover {
  background-color: #6c63ff;
  transition: background-color 0.5s ease-out;
}
