.education {
  display: flex;
  width: 100vw;
  height: 90vh;
}

.education > img {
  margin: auto;
}

.education > .left {
  margin: auto;
  margin-left: 8em;
}

.education > .left > h1 {
  color: rgb(63, 61, 86);
  font-size: 4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.education > .left > .platforms {
  font-size: 1.3em;
  font-weight: 500;
  color: grey;
  padding-left: 2px;
  margin-bottom: 1em;
}
