.education_top,
.github {
  height: 100vh;
}

.education_top {
  display: flex;
}

.education_top > img {
  margin: auto;
}

.education_top > .left {
  margin: auto;
  margin-left: 8em;
}

.education_top > .left > h1 {
  color: rgb(63, 61, 86);
  font-size: 4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.education_top > .left > .platforms {
  font-size: 1.3em;
  font-weight: 500;
  color: grey;
  padding-left: 2px;
  margin-bottom: 1em;
}

.github {
  text-align: center;
}

.github > p {
  color: rgb(63, 61, 86);
  font-size: 4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 25px;
}
